*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hlavicka{
    position: fixed;
    background-color: red;
    width: 100%;
    height: 10%;
}
.hlavicka-vse{
    display: flex;
    width: 100%;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
}
.hlavicka-fotka{
    position: absolute;
    font-size: 52px;
    margin-left: 39%;
    top: 0;
}
.hlavicka-text{
    margin-top: 20px;
}
.hlavicka-text ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hlavicka-text li{
    padding-bottom: 20px;
}

.hlavicka-registrace{
    position: absolute;
    right: 15px;
    font-size: 20px;
    font-weight: 900;
    top: 10px;
}
.hlavicka-registrace li{

    padding-bottom: 20px;   
}

#menu-icon{
    color: blue;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

